@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.hacktext {
  font-family: "Space Grotesk", sans-serif;
}
body {
  background: black;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../public/assets/assemble (1).jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.hackathon{
  font-family: 'Josefin Sans', sans-serif;
}

.img{
  width:800px;
   height:auto;
}

.questions{
  height:100%;
        background: url('https://cloud-5ukt231zm-hack-club-bot.vercel.app/0hack_club_assemble_ltnj_00021_1.png'), black;
        background-size: cover;
        color: white;
}